In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2022-03-31 21:32:48,64.3833,-173.3000,23.36,74,100,25.01
1,1,Farafangana,MG,2022-03-31 21:32:49,-22.8167,47.8333,73.60,83,23,7.11
2,2,Kapaa,US,2022-03-31 21:32:50,22.0752,-159.3190,79.48,82,75,14.97
3,3,Maningrida,AU,2022-03-31 21:32:50,-12.0667,134.2667,76.59,83,7,3.71
4,4,Nikolskoye,RU,2022-03-31 21:32:51,59.7035,30.7861,26.80,97,15,2.13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kapaa,US,2022-03-31 21:32:50,22.0752,-159.3190,79.48,82,75,14.97
3,3,Maningrida,AU,2022-03-31 21:32:50,-12.0667,134.2667,76.59,83,7,3.71
5,5,Yabucoa,PR,2022-03-31 21:32:52,18.0505,-65.8793,82.49,79,15,16.31
11,11,Kyaukse,MM,2022-03-31 21:32:55,21.6000,96.1333,80.53,36,39,4.45
12,12,Vaini,TO,2022-03-31 21:32:55,-21.2000,-175.2000,82.56,83,40,5.75
14,14,Rikitea,PF,2022-03-31 21:32:57,-23.1203,-134.9692,77.77,66,57,13.47
15,15,Douentza,ML,2022-03-31 21:32:58,14.9951,-2.9517,86.54,5,47,3.80
16,16,Mahebourg,MU,2022-03-31 21:32:58,-20.4081,57.7000,79.09,78,40,12.66
20,20,Puerto Ayora,EC,2022-03-31 21:33:01,-0.7393,-90.3518,82.36,74,96,3.80
24,24,Arraial Do Cabo,BR,2022-03-31 21:33:04,-22.9661,-42.0278,78.76,88,40,11.50

In [21]:
preferred_cities_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2             Kapaa      US     79.48  22.0752 -159.3190
3        Maningrida      AU     76.59 -12.0667  134.2667
5           Yabucoa      PR     82.49  18.0505  -65.8793
11          Kyaukse      MM     80.53  21.6000   96.1333
12            Vaini      TO     82.56 -21.2000 -175.2000
14          Rikitea      PF     77.77 -23.1203 -134.9692
15         Douentza      ML     86.54  14.9951   -2.9517
16        Mahebourg      MU     79.09 -20.4081   57.7000
20     Puerto Ayora      EC     82.36  -0.7393  -90.3518
24  Arraial Do Cabo      BR     78.76 -22.9661  -42.0278

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kapaa,US,79.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Maningrida,AU,76.59,-12.0667,134.2667,Dhukurrdji Lodge
5,Yabucoa,PR,82.49,18.0505,-65.8793,Parador Palmas De Lucia
11,Kyaukse,MM,80.53,21.6000,96.1333,Shwe Thit Sar Guesthouse
12,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
14,Rikitea,PF,77.77,-23.1203,-134.9692,People ThankYou
15,Douentza,ML,86.54,14.9951,-2.9517,Ogomono Doumbo
16,Mahebourg,MU,79.09,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
20,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Arraial Do Cabo,BR,78.76,-22.9661,-42.0278,Pousada Porto Praia

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))